.auth-container{
  max-width: 1320px;
  display: flex;
  margin: 64px auto;
  padding-left: 12px;
  padding-right: 12px;
  gap: 24px;
}

.left-block{
  display: block;
}

.left-block-md{
  display: none;
}

.left-block-md{
  display: none;
}

.right-block {
  background-image: url(/assets/images/login-bg.png);
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-size: cover;
  background-position: center;
  padding: 120px 80px;
  border-radius: 8px;
  height: 100%;
}

.tablist {
  display: flex;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.tablist li{
  display: block;
  width: 100%;
  padding: 12px 16px;
  color: var(--neutral-600);
  border-bottom: solid 2px #dee2e6;
  transition: border-color 0.3s;
}

.tablist li:hover{
  border-bottom: solid 2px var(--neutral-600);
}

.tablist li.active{
  color: var(--neutral-900);
  border-bottom: solid 2px #212529;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


.login-btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-btn-container button {
  display: flex;
  width: 100%;
}

.login-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.login-btn:hover{
  border: 1px solid #6C757D;
}

.login-btn:active{
  border: 1px solid #212529;
}

.login-btn img {
  width: 40px;
  height: 40px;
}

.login-btn span {
  text-align: center;
}

@media (max-width: 776px) {
  .auth-container{
    margin: 0 auto;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
    gap: 0px;
  }

  .auth-container .row {
    margin-left: 0;
    margin-right: 0;
  }

  .auth-container .row .col-5{
    display: none;
  }
  
  .left-block{
    display: none;
  }

  .left-block-md{
    display: block;
  }

  .right-block{
    background-image: none;
    padding: 32px 12px;
    gap: 24px;
  }
}
