<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁 - URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/mainheader'); -%>

    <section class="hero mb-64">
      <div class="hero-container">
        <p class="display-1 display-1-md mb-16">URBNSTEP</p>
        <p class="h3 text-white mb-48">Your Step, Your Statement</p>
        <button type="button" class="btn hero-btn l-md"><a href="../pages/product.html">立即選購</a></button>
      </div>
    </section>
    <!-- New Arrival -->
    <section class="container">
      <div class="text-container">
        <p class="display-2 display-2-md mb-12">New Arrival</p>
        <p class="h2 h2-md mb-32">新品上市</p>
      </div>

      <div class="row row-md mb-64">
        <div class="col-6 colmd-2">
          <a href="#" class="card">
            <img src="../assets/images/new-1.png" alt="Monoverse" />
            <p class="h5 h5-md">Monoverse</p>
            <p class="l-md">NT$3,600</p>
          </a>
        </div>
        <div class="col-6 colmd-2">
          <a href="#" class="card">
            <img src="../assets/images/new-2.png" alt="PLATFORM 404" />
            <p class="h5 h5-md">PLATFORM 404</p>
            <p class="l-md">NT$2,600</p>
          </a>
        </div>
        <div class="col-6 colmd-2">
          <a href="#" class="card">
            <img src="../assets/images/new-3.png" alt="URBN Force" />
            <p class="h5 h5-md">URBN Force</p>
            <p class="l-md">NT$3,200</p>
          </a>
        </div>
        <div class="col-6 colmd-2">
          <a href="#" class="card">
            <img src="../assets/images/new-4.png" alt="Mode90" />
            <p class="h5 h5-md">Mode90</p>
            <p class="l-md">NT$4,000</p>
          </a>
        </div>
      </div>
    </section>
    <!-- Best Seller -->
    <section class="container mb-64">
      <p class="h2 h2-md mb-16">熱銷補貨</p>
      <div class="seller-container">
        <div class="col-3 colmd-3">
          <a href="#" class="seller-card">
            <span class="seller-card-text">人氣 No.1</span>
            <img src="../assets/images/product-3.png" alt="" />
          </a>
        </div>
        <div class="col-3 colmd-3">
          <a href="#" class="seller-card">
            <span class="seller-card-text">人氣 No.1</span>
            <img src="../assets/images/product.png" alt="" />
          </a>
        </div>
        <div class="col-3 colmd-3">
          <a href="#" class="seller-card">
            <span class="seller-card-text">人氣 No.1</span>
            <img src="../assets/images/product-6.png" alt="" />
          </a>
        </div>
        <div class="col-3 colmd-3">
          <a href="#" class="seller-card">
            <span class="seller-card-text">人氣 No.1</span>
            <img src="../assets/images/product-4.png" alt="" />
          </a>
        </div>
      </div>
    </section>
    <!-- sale banner -->
    <section class="sale mb-64">
      <div class="sale-title mb-16">
        <p class="display-2 display-2-md text-white">URBNSTEP</p>
        <p class="h1 pri-300">X</p>
        <p class="display-2 display-2-md text-white">Kevin Chen</p>
      </div>
      <p class="h2 text-white mb-32">跨界聯名，限量發售</p>
      <p class="p-lg neu-600 mb-48">
        新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！
      </p>
      <button type="button" class="btn hero-btn l-md">立即搶購</button>
    </section>
    <!-- series -->
    <section class="series">
      <div class="container my-64 mb-48">
        <p class="h2 mb-16">依系列選購</p>
        <div class="row row-md">
          <div class="col-3 colmd-2">
            <a href="#" class="series-card">
              <img src="../assets/images/product-opa-1.png" alt="URBN RUNNER 慢跑系列" />
              <div class="card-text">
                <h2 class="h3 mb-8">URBN RUNNER</h2>
                <p class="h4 text-white">慢跑系列</p>
              </div>
            </a>
          </div>
          <div class="col-3 colmd-2">
            <a href="#" class="series-card">
              <img src="../assets/images/product-opa-2.png" alt="STREETMODE 滑板系列" />
              <div class="card-text">
                <h2 class="h3 text-white mb-8">STREETMODE</h2>
                <p class="h4 text-white">滑板系列</p>
              </div>
            </a>
          </div>
          <div class="col-3 colmd-2">
            <a href="#" class="series-card">
              <img src="../assets/images/product-opa-3.png" alt="CHUNK DISTRICT 厚底系列" />
              <div class="card-text">
                <h2 class="h3 text-white mb-8">CHUNK DISTRICT</h2>
                <p class="h4 text-white">厚底系列</p>
              </div>
            </a>
          </div>
          <div class="col-3 colmd-2">
            <a href="#" class="series-card">
              <img src="../assets/images/product-opa-4.png" alt="COLLAB ZONE 聯名企劃" />
              <div class="card-text">
                <h2 class="h3 text-white mb-8">COLLAB ZONE</h2>
                <p class="h4 text-white">聯名企劃</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- style -->
    <section class="style mb-48">
      <div class="container my-64">
        <p class="h2 mb-16">穿搭靈感</p>
        <div class="style-img-wall">
          <div class="colmd-3 style-img small">
            <img src="../assets/images/inspiration-1.png" alt="" />
          </div>
          <div class="colmd-3 style-img small">
            <img src="../assets/images/inspiration-2.png" alt="" />
          </div>
          <div class="colmd-3 style-img samll">
            <img src="../assets/images/inspiration-4.png" alt="" />
          </div>
          <div class="colmd-3 style-img samll">
            <img src="../assets/images/inspiration-5.png" alt="" />
          </div>
          <div class="colmd-3 style-img big">
            <img src="../assets/images/inspiration-10.png" alt="" />
          </div>
          <div class="colmd-3 style-img big">
            <img src="../assets/images/inspiration-3.png" alt="" />
          </div>
          <div class="colmd-3 style-img samll">
            <img src="../assets/images/inspiration-6.png" alt="" />
          </div>
          <div class="colmd-3 style-img samll">
            <img src="../assets/images/inspiration-7.png" alt="" />
          </div>
          <div class="colmd-3 style-img samll">
            <img src="../assets/images/inspiration-8.png" alt="" />
          </div>
          <div class="colmd-3 style-img samll">
            <img src="../assets/images/inspiration-9.png" alt="" />
          </div>
          <div class="colmd-3 style-img samll">
            <img src="../assets/images/inspiration-11.png" alt="" />
          </div>
          <div class="colmd-3 style-img samll">
            <img src="../assets/images/inspiration-12.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="banner-container">
      <div class="banner">
        <h4 class="h4 neu-900">加入會員取得 9 折優惠</h4>
        <a href="./Login_Signup.html"
          ><button class="btn banner-btn l-md" type="button">
            馬上註冊
          </button></a
        >
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
