<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>所有產品 - URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="container">
        <div class="breadcrumb mb-24">
            <div class="bread-item l-md neu-600">首頁</div>
            <div class="bread-item l-md neu-600">/</div>
            <div class="bread-item l-md neu-600">女鞋</div>
            <div class="bread-item l-md neu-600">/</div>
            <div class="bread-item l-md">所有產品</div>
        </div>
        <div class="title">
            <p class="h3 mb-24">女鞋</p>
        </div>

        <div class="row row-md mb-48">
            <div class="col-2 menu">
                <ul>
                    <li><a class="l-md neu-900" href="#">所有商品</a></li>
                    <li><a class="l-md neu-900" href="#">慢跑鞋</a></li>
                    <li><a class="l-md neu-900" href="#">滑板鞋</a></li>
                    <li><a class="l-md neu-900" href="#">厚底鞋</a></li>
                    <li><a class="l-md neu-900" href="#">限定 / 聯名企劃</a></li>
                </ul>
            </div>
            <div class="col-10 colmd-4 product-content">
                <div class="row row-md mb-48">
                    <div class="col-4 colmd-2 mb-md24 card ">
                        <div class="card-img"><a href="../pages/product_detail.html"><img src="../assets/images/product.png" alt=""></a></div>
                        <div class="h6 neu-900 mb-4">PLATFORM 404</div>
                        <div class="l-md neu-900">NT$2,600</div>
                    </div>
                    <div class="col-4 colmd-2 mb-md24 card">
                        <div class="card-img"><img src="../assets/images/product-1.png" alt=""></div>
                        <div class="h6 neu-900 mb-4">PLATFORM 404</div>
                        <div class="l-md neu-900">NT$2,600</div>
                    </div>
                    <div class="col-4 colmd-2 mb-md24 card">
                        <div class="card-img"><img src="../assets/images/product-2.png" alt=""></div>
                        <div class="h6 neu-900 mb-4">VM 001</div>
                        <div class="l-md neu-900">NT$2,600</div>
                    </div>
                    <div class="col-4 colmd-2 mb-md24 card">
                        <div class="card-img"><img src="../assets/images/product-3.png" alt=""></div>
                        <div class="h6 neu-900 mb-4">Melty Kiss</div>
                        <div class="l-md neu-900">NT$4,000</div>
                    </div>
                    <div class="col-4 colmd-2 mb-md24 card">
                        <div class="card-img"><img src="../assets/images/product-4.png" alt=""></div>
                        <div class="h6 neu-900 mb-4">BOOMBLOK</div>
                        <div class="l-md neu-900">NT$3,200</div>
                    </div>
                    <div class="col-4 colmd-2 mb-md24 card">
                        <div class="card-img"><img src="../assets/images/product-5.png" alt=""></div>
                        <div class="h6 neu-900 mb-4">BOOMBLOK</div>
                        <div class="l-md neu-900">NT$3,200</div>
                    </div>
                    <div class="col-4 colmd-2 mb-md24 card">
                        <div class="card-img"><img src="../assets/images/product-6.png" alt=""></div>
                        <div class="h6 neu-900 mb-4">R:UNER</div>
                        <div class="l-md neu-900">NT$4,000</div>
                    </div>
                    <div class="col-4 colmd-2 mb-md24 card">
                        <div class="card-img"><img src="../assets/images/product-7.png" alt=""></div>
                        <div class="h6 neu-900 mb-4">Suger Snap</div>
                        <div class="l-md neu-900">NT$4,000</div>
                    </div>
                    <div class="col-4 colmd-2 mb-md24 card">
                        <div class="card-img"><img src="../assets/images/product-8.png" alt=""></div>
                        <div class="h6 neu-900 mb-4">Neofoam</div>
                        <div class="l-md neu-900">NT$4,000</div>
                    </div>
                </div>
                <div class="pagination mb-32">
                    <div class="icon-container">
                        <img src="../assets/images/chevron-left.svg" alt="">
                    </div>

                    <div class="pages">
                        <div class="page"><p class="p-md">1</p></div>
                        <div class="page"><p class="p-md">2</p></div>
                        <div class="page"><p class="p-md">3</p></div>
                        <div class="page"><p class="p-md">...</p></div>
                        <div class="page"><p class="p-md">10</p></div>
                    </div>

                    <div class="icon-container">
                        <img src="../assets/images/chevron-right.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <%- include('./layout/banner'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>