@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--neutral-900);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-300: #c0fa73;
  --primary-400: #57a203;
  --primary-500: #477a11;
  --neutral-0: #ffffff;
  --neutral-100: #f8f9fa;
  --neutral-200: #e9ecef;
  --neutral-300: #dee2e6;
  --neutral-400: #ced4da;
  --neutral-500: #adb5bd;
  --neutral-600: #6c757d;
  --neutral-700: #495057;
  --neutral-800: #343a40;
  --neutral-900: #212529;
  --danger-300: #D74F4F;
}

.pri-300 {
  color: var(--primary-300);
}

.pri-400{
  color: var(--primary-400);
}

.neu-400{
  color: var(--neutral-400);
}

.neu-600{
    color: var(--neutral-600);
}

.dan-300{
  color: var(--danger-300);
}


/* 字體設定 */
.display-2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.l-lg {
  font-size: 20px;
}

.l-md {
  font-size: 16px;
}

.l-sm {
  font-size: 14px;
}

.l-xs {
  font-size: 12px;
}

.p-lg {
  font-size: 20px;
}

.p-md {
  font-size: 16px;
}

.p-sm {
  font-size: 14px;
}

.p-xs {
  font-size: 12px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 4px;
}



.pr-400 {
  color: #57a203;
}

.neu-600{
    color: #6c757d;
}

.text-white{
  color: #ffffff;
}

.hero-header {
  height: 400px;
  background-image: url("./img/Hero_Section.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 64px;
}

/* 容器 */

.hero-content {
  padding-top: 151px;
  padding-bottom: 151px;
  margin: 0 auto;
  text-align: center;
}

.quote-block {
  width: 856px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.quote-container {
  background-color: #f5fee7;
  padding: 32px 0;
  text-align: center;
}

.intro-img {
  width: 1076px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.story-container {
  width: 856px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding-bottom: 48px;
  border-bottom: 1px solid #dee2e6;
}

.story-container h2{
  margin-bottom: 24px;
}


.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}


.year {
  margin-right: 8px;
}

.content {
  border-left: 1px solid #212529;
  padding-left: 8px;
}

ol {
  list-style: disc;
  padding-left: 24px;
}

ol li {
  margin-bottom: 12px;
}

.concept {
  padding-left: 12px;
  border-left: 3px solid #dee2e6;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  max-width: 20px;
  max-height: 20px;
}

.story-content {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 8px;
}

.story-container a:hover {
  border-bottom: 1px solid var(--primary-400);
}

.footer-container{
  margin-top: 64px;
}

.footer-content {
  background-color: #f8f9fa;
  padding-top: 64px;
  padding-bottom: 62px;
  text-align: center;
}
