/* navbar */
.nav-container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: "Mina";
  color: var(--neutral-900);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0044em;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
}

.nav-link {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--neutral-900);
}

.nav-link:hover {
  font-weight: 700;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.icon {
  padding: 12px;
  cursor: pointer;
}

.nav-menu-md {
  display: none;
}

@media (max-width: 776px) {
  /* navbar rwd*/
  .nav-container {
    padding: 12px;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-md {
    max-width: 100%;
    display: flex;
  }

  .nav-menu-md li {
    display: block;
    width: 100%;
    background-color: var(--primary-100);
    text-align: center;
    padding: 12px 0;
  }
}