<section class="banner-container">
  <div class="banner">
    <h4 class="h4 h4-md neu-900">加入會員取得 9 折優惠</h4>
    <button class="btn btn-md banner-btn" type="button"><a href="../pages/login_signup.html" class="l-md text-white">馬上註冊</a></button>
  </div>
</section>
