<footer class="footer-container">
  <div class="footer-block">
    <div class="footer-nav">
      <a class="logo" href="#">URBNSTEP</a>
      <ul class="footer-link">
        <li class="nav-link">
          <a class="neu-900 l-md" href="../pages/product.html">商品列表</a>
        </li>
        <li class="nav-link"><a class="neu-900 l-md" href="../pages/brand_story.html">品牌故事</a></li>
      </ul>
    </div>
    <div class="copyright">
      <p class="p-sm neu-600">Copyright ©2025 URBNSTYLE</p>
      <p class="p-sm neu-600">All Rights Reserved.</p>
    </div>
  </div>
</footer>
