<nav class="nav">
  <div class="nav-container">
    <a class="logo mr-40" href="index.html"> URBNSTEP </a>
    <ul class="d-flex g-40 align-items-center nav-menu">
      <li>
        <a class="nav-link l-md" href="../pages/product.html">商品列表</a>
      </li>
      <li><a class="nav-link l-md" href="../pages/brand_story.html">品牌故事</a></li>
    </ul>
    <div class="icon ml-auto">
      <a href="../pages/login_signup.html"><img src="../assets/images/person.svg" alt="" /></a>
    </div>
  </div>
</nav>
